/* Structure */
body { 
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

#content {
    width:80%;
    margin:auto;
}

#main-header {
    background-color:bisque;
    position:relative; /* closest parent that is relative, the children will be absolutely positioned to them */
    padding-top:4%;
}

#logo {
    position:absolute; /* absolute does not preserve space on screen for it */ /* relative DOES reserve space for it */ 
    top:5px;
    left:5px;
}

#hero {
    position:0;

}
#hero-description {
    position:absolute;
    top:60%;
    left:5%;
    background:rgb(255,255,255,0.8);
    padding:20px;
}

.hero-arrow {
    position:absolute;
    font-size:8em;
    color:white;
    text-decoration:none;
}

#hero-arrow-right {
    right:2%;
    top:50%;
    
}

#hero-arrow-left {
    left:2%;
    top:50%;
}
/* Sidebar */
#sidebar {
    background-color:maroon
}

#sidebar, #info {
    padding:5px;
}

#quick-links, #login-nav, #main-nav, ul {
    list-style-type: none; /*removes bullets from ul*/
    padding-left:0; /*removes indent from ul*/
}

#main-nav, #login-nav, a {
    text-decoration: none; /*removes underline from links*/
    color:black;
}

#main-nav li {
    background-color:aliceblue;
    padding:5px;
    border-bottom: 1px solid black;
}

#login-nav li {
    display:inline-block;
}

#login-nav li:not(:last-child)::after {
    content: " |"
}

#login-nav {
    position:absolute;
    top:1%;
    right:1%;
}

/* images */
img {
    max-width:100%;
}
/* Typography */ /*a = anchor tag*/
#main-header h1{
    margin:auto;
    text-align:center;
    padding:5px;
}

/* Responsive Design */

/* an aside should not stack when you have the room, so lets say when it gets to a certain size dont */

@media (min-width: 1000px) {
    body {
        background:brown; /* 600 pixels or larger be red. */
    }
    .columns{
        display:flex; /* turns content into columns, container gets this class.*/
    }
    #main-nav li {
        flex:1;
        border:0;
    }
    .one {
        flex:1; /*ratio number */
    }
    .two {
        flex:2;
    }
    .three {
        flex:3;
    }
    .four {
        flex:4;
    }
    .five {
        flex:5;
    }
}